.sobre_nos {
    background-color: var(--preto);
    color: var(--branco)
}

.sobre_nos__container {
    display: flex;
    align-items: center;
}

.sobre_nos__container_titulo {
    padding: 2em;
    font-size: 3em;
}

@media (max-width: 760px) {
    .sobre_nos__container {
        flex-direction: column;
        padding-bottom: 3em;
    }
    .sobre_nos__container_titulo {
        padding: 1em;
    }
}