.unidades {
    display: flex;
    background-color: var(--preto);
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
}

.unidades__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: calc(95vw / 2);
    height: 200px;
    transition: 1s;
}

.unidades__container:first-child {
    background-color: aqua;
}

.unidades__container:last-child {
    background-color: blueviolet;
}

.unidades__descricao {
    display: flex;
    flex-direction: column;
}