.lista_produtos {
    display: flex;
    margin: 40px;
}

.lista_produtos__lista {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.lista_produtos__titulo {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

.lista_produtos__item {
    display: flex;
    width: 11rem;
    flex-direction: column;
    border: 1px solid var(--cinza);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.item_imagem {
    width: 180px;
}

.item_nome {
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
    color: var(--preto);
}

.item_descricao {
    font-size: 14px;
    margin: 10px auto;
}

.item_preco {
    align-self: self-end;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px 10px 0px;
    color: var(--verde);
}

.btn_adicionar_item {
    width: 100%;
    border: 0px;
    height: 30px;
    font-weight: bold;
    color: var(--branco);
    font-size: 16px;
    border-radius: 15px;
    background-color: var(--verde);
}