.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

.historia__container {
    margin: 2em 0;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia__container_imagem {
    width: 100%;
    height: 20em;
    background-image: url("../../images/index/nossa_historia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.historia__container_texto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.historia__container_titulo {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
}

.historia__container_paragrafo {
    display: flex;
    align-items: center;
}

.historia__container_paragrafo__imagem {
    width: 50%;
    height: 300px;
}

.historia__container_paragrafo:first-child .historia__container_paragrafo__texto {
    width: 90vw;
    padding: 0 0 0 3em;
}

.historia__container_paragrafo:first-child .historia__container_paragrafo__texto p {
    padding-top: 1em;
}

.historia__container_paragrafo:first-child .historia__container_paragrafo__imagem {
    background-image: url('../../images/index/nossa_historia_1.jpg');
    background-size: cover;
}

.historia__container_paragrafo:last-child {
    margin-top: 2em;
}

.historia__container_paragrafo:last-child .historia__container_paragrafo__texto {
    width: 90vw;
    padding: 0 3em 0 0;
}

.historia__container_paragrafo:last-child .historia__container_paragrafo__texto p {
    padding-top: 1em;
}

.historia__container_paragrafo:last-child .historia__container_paragrafo__imagem {
    background-image: url('../../images/index/nossa_historia_2.jpg');
    background-size: cover;
}

@media (max-width: 760px) {
    .historia__container {
        margin-bottom: 2em;
    }
    .historia__container_paragrafo {
        flex-direction: column;
        align-items: center;
    }
    .historia__container_paragrafo__imagem {
        background-position: 0px -120px;
        width: 100%;
    }

    
.historia__container_paragrafo:first-child .historia__container_paragrafo__texto {
    width: 90vw;
    padding: 0;
}

.historia__container_paragrafo:first-child .historia__container_paragrafo__texto p {
    padding-top: 1em;
}


    .historia__container_paragrafo:last-child .historia__container_paragrafo__texto {
        padding: 0;

        order: 1;
    }
    .historia__container_paragrafo:last-child .historia__container_paragrafo__imagem {
        padding: 0;

        order: 0;
    }
}

@media (max-width: 375px) {
    .historia__container {
        margin-bottom: 2em;
        text-align: center;
    }
    .historia__container_paragrafo {
        flex-direction: column;
        align-items: center;
        padding:0;
    }
    .historia__container_paragrafo__imagem {
        background-position: 0px -120px;
        width: 100%;
    }
}