.lista_pedido {
    flex-grow: 2;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}

.lista_pedido__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.lista_pedido__item__dados {
    display: flex;
    width: 100%;
}

.item__nome {
    flex-grow: 2;
}

.item__quantidade {
    padding-right: 10px;
}

.item__subtotal {
    font-weight: bold;
    color: var(--verde);
    padding-right: 10px
}

.lista_pedido__item__btn {
    border: 0px;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
    background-color: var(--vermelho);
    color: var(--branco);
}